*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 71, 109);
    coler: #fff;
}

.profile{
    display: flex;
    flex-direction: column;
    margin: 10pt;
}

.profile h2{
    margin-top: 0;
}